body{
    flex-direction: column;
    display: flex;
    align-items: center;
background-color: greenyellow;
}

h1 
{
    text-align: center;
}
.sesxi{
display: flex;   

    
}
.irakli{
    flex-direction: column;
    display: flex;
    align-items: center;

}
.surati{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
.surati1{
    flex-direction: column;
    display: flex;
    align-items: center;
}


#ikoo{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4{
    text-align: center;
}
img{
    align-items: center;
}


.buttoncontainer{
    
    justify-content: center;
    display: flex;
    align-items: center;

}
button{
    background-color: green;
    font-size: 20px;
    padding: 15px 50px;
    border-radius: 30px;
}
input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-style:solid;
    border-color: blue;
    border-radius: 20px;
    background-color: chartreuse;
}